/server/modules/desktop.ini
/diplomarbeit.iml
/desktop.ini
/.idea/
/server/db/desktop.ini
server/playground/desktop.ini
/server/db/models/desktop.ini
/server/db/tests/desktop.ini
node_modules/
/server/middleware/desktop.ini
/server/db/tests/seed/desktop.ini
/public/desktop.ini
/public/src/desktop.ini
/public/src/app.js
/public/.idea/
/public/public/desktop.ini
/public/src/playground/desktop.ini
/public/src/playground/js/desktop.ini
/public/public/scripts/desktop.ini
/server/desktop.ini
