/server/modules/desktop.ini
/diplomarbeit.iml
/desktop.ini
/.idea/
/server/db/desktop.ini
/server/playground/desktop.ini
/server/db/models/desktop.ini
/server/db/tests/desktop.ini
/server/middleware/desktop.ini
/server/db/tests/seed/desktop.ini
/server/desktop.ini
/server/templates/mail/desktop.ini
/server/templates/desktop.ini
